#!/usr/bin/env bash

function actionlint-inst() {
  sudo -v
  if ! command -v curl >/dev/null 2>&1; then
    sudo apt-get update &&
      sudo apt-get install --no-install-recommends --assume-yes \
        curl
  fi
  VERSION=${1:-"1.6.22"}
  case "$OSTYPE" in
  linux-*)
    OS=linux
    EXT=tar.gz
    ;;
  esac
  machine=$(uname -m)
  case "$machine" in
  x86_64)
    ARCH=amd64
    ;;
  esac
  curl -L https://github.com/rhysd/actionlint/releases/download/v"$VERSION"/actionlint_"${VERSION}"_${OS}_${ARCH}.${EXT} | sudo tar xvz --directory=/usr/local/bin/ actionlint &&
    sudo chown root /usr/local/bin/actionlint &&
    sudo chgrp root /usr/local/bin/actionlint
}

function editorconfig-inst() {
  sudo -v
  if ! command -v curl >/dev/null 2>&1; then
    sudo apt-get update &&
      sudo apt-get install --no-install-recommends --assume-yes \
        curl
  fi
  VERSION=${1:-"2.6.0"}
  case "$OSTYPE" in
  linux-*)
    OS=linux
    EXT=tar.gz
    ;;
  esac
  machine=$(uname -m)
  case "$machine" in
  x86_64)
    ARCH=amd64
    ;;
  esac
  curl -O -L -C - https://github.com/editorconfig-checker/editorconfig-checker/releases/download/"$VERSION"/ec-$OS-$ARCH.$EXT &&
    sudo tar xzf ec-$OS-$ARCH.$EXT --directory=/usr/local/bin/ --strip-components=1 &&
    sudo mv /usr/local/bin/ec-linux-amd64 /usr/local/bin/ec &&
    rm ec-$OS-$ARCH.$EXT &&
    sudo chown root /usr/local/bin/ec &&
    sudo chgrp root /usr/local/bin/ec
}

function gi() {
  curl -sL https://www.toptal.com/developers/gitignore/api/"$*" | sed -e 's/# Created by https:\/\/www\.toptal\.com\/developers\/gitignore\/api\/[a-z,]*//' \
    -e 's/# Edit at https:\/\/www\.toptal\.com\/developers\/gitignore?templates=[a-z,]*//' \
    -e 's/# End of https:\/\/www\.toptal\.com\/developers\/gitignore\/api\/[a-z,]*//' \
    -e '/^$/d' \
    -e '/^#/ s/^/\n/'
}

function hadolint-inst() {
  sudo -v
  if ! command -v curl >/dev/null 2>&1; then
    sudo apt-get update &&
      sudo apt-get install --no-install-recommends --assume-yes \
        curl
  fi
  VERSION=${1:-"2.10.0"}
  case "$OSTYPE" in
  linux-*)
    OS=Linux
    ;;
  esac
  ARCH=$(uname -m)
  sudo curl -O -L -C - https://github.com/hadolint/hadolint/releases/download/v"$VERSION"/hadolint-$OS-"$ARCH" &&
    sudo mv hadolint-$OS-"$ARCH" /usr/local/bin/hadolint &&
    sudo chmod +x /usr/local/bin/hadolint
}
